<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @activitytype.description %>
</p>

<%= link_to 'Edit', edit_activitytype_path(@activitytype) %> |
<%= link_to 'Back', activitytypes_path %>
