<%# add navigation links to this file %>
<li><%= link_to 'Clients', clients_path %></li>
<<<<<<< HEAD
<li><%= link_to 'Projects', projects_path %></li>
=======
>>>>>>> fae72b46072a805a72fa5bcbfb86c7267a77c3f6
<li><%= link_to 'About', page_path('about') %></li>